AI-powered accountant.json
{
  "name": "AI-powered accountant",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -384,
        -112
      ],
      "id": "305913ad-6a08-4c3e-8f8d-aa05d0a28e97",
      "name": "Telegram Trigger",
      "webhookId": "bf1740f6-c5e3-43db-91a3-1228c2305340",
      "credentials": {
        "telegramApi": {
          "id": "wMpCiD9oxu175NHK",
          "name": "Telegram account 3"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    },
                    "id": "55dddba9-96a5-4f49-8aa9-16761302c327"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "text"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "abb72ea4-d8ae-4b72-989f-361432c679a0",
                    "leftValue": "={{ $json.message.voice.duration }}",
                    "rightValue": 0,
                    "operator": {
                      "type": "number",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Audi"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -160,
        -96
      ],
      "id": "0b597220-5794-46d1-87e0-e5a48f7c267b",
      "name": "Switch"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {
          "systemMessage": "=You are a helpful accounting assistant\nYou receive a chat massage and yousave the follwing information to google sheet:\nCategory either buy, sell, or expenses, and description, and the amount.\nThe current date and time is {{ $now }}\n\nAlso ,when you receive a massage asking about our daily sales, monthly sales, or expens, you should chackthis information from the stored data by filtering the relevant category and summing the amount column to provide the answer."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        528,
        -144
      ],
      "id": "a2e71976-f0e2-48c7-a925-5c45986c7caa",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "openai/gpt-oss-120b",
          "mode": "list",
          "cachedResultName": "openai/gpt-oss-120b"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        480,
        96
      ],
      "id": "096d3ba1-379f-4115-bd80-65d551fa7d43",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "8DhFo4Ag9bkwRlMC",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1wctmUo-nCSJAlOC1VsOP9kSJM_zVy5wAckvcQT3FOjY",
          "mode": "list",
          "cachedResultName": "Myaccountant2",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1wctmUo-nCSJAlOC1VsOP9kSJM_zVy5wAckvcQT3FOjY/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "الورقة1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1wctmUo-nCSJAlOC1VsOP9kSJM_zVy5wAckvcQT3FOjY/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Date": "={{$now}}",
            "Category": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Category', ``, 'string') }}",
            "Descrption": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Descrption', ``, 'string') }}",
            "Amount": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Amount', ``, 'string') }}"
          },
          "matchingColumns": [
            "Date"
          ],
          "schema": [
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Category",
              "displayName": "Category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Descrption",
              "displayName": "Descrption",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Amount",
              "displayName": "Amount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        768,
        64
      ],
      "id": "3e9ae1e6-55d0-4c97-b506-f39d75d2db59",
      "name": "Append or update row in sheet in Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "lWAlyqrMCw4YG1Xh",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Switch').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        864,
        -176
      ],
      "id": "ccc36b02-a662-4409-a679-07f6964e3df8",
      "name": "Send a text message",
      "webhookId": "5be25f78-937c-4c83-aa8c-e9193ca77f20",
      "credentials": {
        "telegramApi": {
          "id": "wMpCiD9oxu175NHK",
          "name": "Telegram account 3"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1wctmUo-nCSJAlOC1VsOP9kSJM_zVy5wAckvcQT3FOjY",
          "mode": "list",
          "cachedResultName": "Myaccountant2",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1wctmUo-nCSJAlOC1VsOP9kSJM_zVy5wAckvcQT3FOjY/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "الورقة1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1wctmUo-nCSJAlOC1VsOP9kSJM_zVy5wAckvcQT3FOjY/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        624,
        64
      ],
      "id": "55cf82cf-98b7-4b42-b6a7-797d2de89257",
      "name": "Get row(s) in sheet in Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "lWAlyqrMCw4YG1Xh",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $('Telegram Trigger').item.json.message.voice.file_id }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        16,
        -16
      ],
      "id": "937720ea-7efa-4e2f-936a-b455acb4e665",
      "name": "Get a file",
      "webhookId": "32c9cb8a-6031-4790-b85c-ef12113ca1e8",
      "credentials": {
        "telegramApi": {
          "id": "wMpCiD9oxu175NHK",
          "name": "Telegram account 3"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2e03cca2-31d4-4680-9ec8-62e54a128b07",
              "name": "message.text",
              "value": "={{ $json.message.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        80,
        -224
      ],
      "id": "363b8c68-d326-47b7-afe3-901760d01283",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        192,
        0
      ],
      "id": "e70b9e31-b78e-40a7-a3f0-39357e7ce3a8",
      "name": "Transcribe a recording",
      "credentials": {
        "openAiApi": {
          "id": "gJLrSU2lW9gVbqnb",
          "name": "OpenAI account 2"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        336,
        0
      ],
      "id": "ebb2d4ce-705b-4b45-91cf-981fb0f9cd40",
      "name": "Edit Fields1"
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet in Google Sheets": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet in Google Sheets": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message": {
      "main": [
        []
      ]
    },
    "Get a file": {
      "main": [
        [
          {
            "node": "Transcribe a recording",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe a recording": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "66238b68-57f5-4e07-836a-5b3205a08ba4",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "78df718bb34fde857d77cb7beed469614c1c9ff2441901d4fe2678f642e597e8"
  },
  "id": "1KGa1vscNlkoyQTe",
  "tags": []
}